@import "tailwindcss";

@theme {
  --color-primary: #13c8ec;
  --color-background-light: #f6f8f8;
  --color-background-dark: #101f22;
  --font-display: "Inter", sans-serif;
}

body {
  background-color: var(--color-background-light);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-background-dark);
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
